//颜色
$color-theme-night: #3f3f3f;
$color-text: #fff;
$color-text-hover: #ffcd32;
$color-blog-theme: #fff;
$color-border: #d3d3d3;
$color-blue: #409EFF;

//尺寸
$img-head-size: 120px;
$header-height: 50px;